# arch/arm/mach-s5pc110/Kconfig
#
# Copyright 2008 Openmoko, Inc.
# Copyright 2008 Simtec Electronics
#
# Licensed under GPLv2

# Configuration options for the S5PC110 CPU

config CPU_S5PC110
	bool
	select CPU_S5PC110_INIT
	select CPU_S5PC110_CLOCK
	help
		Enable S5PC110 CPU support

config S5PC11X_SETUP_SDHCI
	bool
	help
		Internal helper functions for S5PC1XX based SDHCI systems

config MACH_SMDKC110
	bool "SMDKC110"
	select CPU_S5PC110
	select S3C_DMA_PL330
	select S3C_DEV_I2C1
	select S3C_DEV_HSMMC
	select S3C_DEV_HSMMC1 if !SMDKC110_SD_CH0_8bit
	select S3C_DEV_HSMMC2
	select S3C_DEV_HSMMC3 if !SMDKC110_SD_CH2_8bit       
	select S5PC11X_SETUP_SDHCI
	select S3C64XX_SETUP_I2C1
	select ARCH_DISCONTIGMEM_ENABLE
	help
	  Machine support for the Samsung SMDKC110

choice
	prompt "Setup CPU Type for S5PC110"
	depends on PLAT_S5PC11X
	default S5PC110_H_TYPE

config S5PC110_H_TYPE
	bool "Select H-Type"
	depends on PLAT_S5PC11X
	help
		Select H-Type of S5PC110

config S5PC110_AC_TYPE
	bool "select AC-Type"
	depends on PLAT_S5PC11X
	help
		Select AC-Type of S5PC110
endchoice

	comment "MMC/SD slot setup"
	depends on MACH_SMDKC110	

config SMDKC110_SD_CH0_8bit
	bool "Use 8-bit bus with channel 0"
	depends on MACH_SMDKC110
	default n
	help
		IF channel 0 uses 8-bit bus, channel 1 shoule be disabled.
       
config SMDKC110_SD_CH2_8bit
	bool "Use 8-bit bus with channel 2"
	depends on MACH_SMDKC110
	default n	
	help
		IF channel 2 uses 8-bit bus, channel 3 shoule be disabled.

