if VIDEO_FIMC2
comment "FIMC2 configurations"
endif

config VIDEO_FIMC2
	bool "Samsung Camera Interface (FIMC2) driver - temporary"
	depends on VIDEO_SAMSUNG && ARCH_S5PC1XX
	default n
	---help---
	  This is a video4linux driver for Samsung FIMC device.

config VIDEO_FIMC_DEBUG
	bool "FIMC driver debug messages"
	depends on VIDEO_FIMC2

config VIDEO_FIMC_MIPI
	bool "FIMC works with MIPI-CSI2 (Rx)"
	depends on VIDEO_FIMC2 && ARCH_S5PC1XX

config VIDEO_FIMC_CAM_CH
	int "External Camera channel (0=A, 1=B)"
	depends on VIDEO_FIMC2
	default "0"

config VIDEO_FIMC_CAM_RESET
	int "Reset Type (0=low, 1=high)"
	depends on VIDEO_FIMC2
	default "0"

